.tasks-pending{
  background: #fefefe;
  min-height: 100vh;
  text-align: center;
}

.tasks-find-form{
  margin: 0 0 1rem 0;
  width: 100%;
}

.tasks-find-form input{
  width: calc(99.9% - 2.4rem);
}

.tasks-find-form button,.tasks-container .task .complete-button,.tasks-container .task .edit-button{
  width: 2rem;
  padding: 0 0 .35rem 0;
  font-size: 1.3rem;
  background: none;
  float: right;
}

.tasks-find-form button{
  background: #309688;
}

.tasks-container .task .complete-button{
  color: rgb(116, 189, 116);
}

.tasks-container .task .edit-button{
  color: rgb(224, 152, 64);
}


.tasks-container{
  padding: 1rem 0 0 0;
  width: 100%;
}

.tasks-container .task{
  color: rgb(87, 87, 87);
  font-weight: bold;
  display: inline-block;
  /*border: 1px solid #000;*/
  margin: 0 1rem 1rem 0;
  width: 100%;
  cursor: pointer;
  border-radius: .18rem;
  /*box-shadow: -1px 4px 17px -6px rgba(0,0,0,1);*/
}

.tasks-pending .tasks-container .task{
  background: rgb(208, 230, 205);
  padding: .2rem .4rem .2rem 1rem;
}

.tasks-container .task .name{
  padding-top: .25rem;
  width: 9rem;
  height: 1.5rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
  vertical-align: middle;
}

.tasks-container .removed-item {
  animation: removed-item-animation .2s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes removed-item-animation {
  from {
      opacity: 1;
      transform: scale(1);
  }

  to {
      opacity: 0;
      transform: scale(0);
  }
}

.tasks-pending-more-button{
  cursor: pointer;
  display: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #666;
  color: #fff;
  font-size: 2rem; 
  overflow: hidden;
  position: relative;
}

.tasks-pending-more-button *{
  padding-bottom: .8rem;
  position: absolute;
  top: -0.06rem;
  left: 0;
}

.loading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}


@media (min-width: 400px) {
  .tasks-container .task .name{
    width: 15rem;
  }
}

@media (min-width: 500px) {
  .tasks-container .task .name{
    width: 20rem;
  }
}

@media (min-width: 600px) {
  .tasks-container .task .name{
    width: 25rem;
  }
}

@media (min-width: 700px) {
  .tasks-container .task .name{
    width: 30rem;
  }
}

@media (min-width: 800px) {
  .tasks-container .task .name{
    width: calc(99% - 5rem);
  }
  
}
