<div class="space-intern-container">
  <template id="tasks-pending:task-template">
      <div id="tasks-pending:task:{{id}}:name" class="name">{{name}}</div> 
      <button id="tasks-pending:task:{{id}}:completed" class="complete-button">
        <i id="tasks-pending:task:{{id}}:completed" class="icon-check"></i>
      </button>
      <button id="tasks-pending:task:{{id}}:edit" class="edit-button">
        <i id="tasks-pending:task:{{id}}:edit" class="icon-pencil"></i>
      </button>
    </template>
    
    <h2>Tareas Pendientes</h2>
    
    <form class="tasks-find-form" id="tasks-pending:find-form">
    <fieldset id="tasks-pending:find-form:fieldset">
      <input  type="text" name="key" placeholder="Busca Aquí...">
      <button type="submit"><i class="icon-search"></i></button>
    </fieldset>
    </form>
    
    <button id="tasks-pending:new-task-button" type="button" class="icon-plus">Nueva Tarea</button>
    <div id="tasks-pending:tasks-container" class="tasks-container"></div>
    <div class="center">
      <div id="tasks-pending:more-button" class="tasks-pending-more-button">
        <i class="icon-plus"></i>
      </div>
    </div>
</div>