#spaces-menu {
  position: fixed;
  left: -12rem;
  top: 0;
  width: 12rem;
  height: 100%;
  background:rgba(240, 240, 240, .95);
  z-index: 5;
  color: #336;
  font-size: 1.1rem;
}

#spaces-menu a{
  width: calc(100% - .8rem);
  display: block;
  padding: .5rem 1rem .5rem 1rem;
  cursor: pointer;
  margin: .5rem .4rem;
  background: #fff;
  font-size: 1rem;
  border-radius: .18rem;
}

#spaces-menu .menu-head-img{
  width: 100%;
}

#space-container {
  width: 100%;
  padding: 3rem 1rem 0rem 1rem;
  overflow-y: auto;
}

#top-nav {
  font-weight: bold;
  color: #708b9e;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(240, 240, 240, .95);
  z-index: 4;
  padding: 0 .5rem 0 .5rem;
}

#top-nav .menu-button{
  /*display: inline-block;*/
  color: #708b9e;
  font-size: 1.7rem;
  padding-top: .3rem;
  cursor: pointer;
  float: left;
}

.menu-head-left-button{
  display: inline-block;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-head{
  position: relative;
}

.menu-left-to-right{
  animation: linear;
  animation-name: menu-to-right;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.sign-out-button{
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(172, 127, 3);
  text-align: center;
}

@keyframes menu-to-right {
  0% { transform: translate(0px, 0px); }
  100%{ transform: translate(12rem, 0px); }
}

.menu-right-to-left{
  animation: linear;
  animation-name: menu-to-left;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes menu-to-left {
  0% { transform: translate(12rem, 0px); }
  100%{ transform: translate(0px, 0px); }
}

.space-intern-container{
  display: inline-block;
  max-width: 55rem;
  text-align: left;
  width: 100%;
  padding-bottom: 2rem;
}

.hide{
  display: none!important;
}

@media (min-width: 450px) {
  .tasks-container .task .name{
    width: 15rem;
  }

  #space-container {
    padding: 3rem 2rem 0rem 2rem;
  }
}

@media (min-width: 800px) {
  #space-container {
    padding: 3rem 3rem 0rem 15rem;
  }

  #spaces-menu {
    left: 0;
  }

  .hide-big{
    display: none!important;
  }

  .menu-left-to-right,.menu-right-to-left{
    animation: none;
  }
}
