/* W3.CSS 4.05 October 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none;display:inline-block;vertical-align: middle;}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

/*My Rules*/
*:focus { outline: none; }
html,body{
  overflow-x:hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size:16px;line-height:1.3;
  font-family: 'Rubik', sans-serif;
  letter-spacing: .03rem;
  color: #666;
}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}


.form-header{
  width: 100%;
  display: inline-block;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
  max-width: 60rem;
}

.form-header .label {
  font-weight: bold;
  color: #a66aaa;
}

.form-container{
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 60rem;
  background-color: #fff;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.form-section {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 2.5%;
}

h1,h2,h3 {
  color: #309688;
}

.round{border-radius: .2rem; overflow: hidden}
.round-scale{border-radius: 5%}
.circle{border-radius: 50%}

button {
  font-size: .85rem;
  letter-spacing: inherit;
  font-weight: bold;
  padding: .5rem .9rem;
  border: none;
  border-radius: .18rem;
  background: #309688;
  color: #fff;
}

button.button-icon {
  background: none;
  font-size: 1.6rem;
  padding: 0 .2rem 0 .2rem;
  color: #309688;
}

.button-estil{
  font-weight: normal;
  letter-spacing: inherit;
  padding: .5rem .9rem;
  border: solid .063rem rgba(166, 106, 170, .7);
  border-radius: .18rem;
  background: rgba(255, 255, 255, 0);
  color: #a66aaa;
}

.button-light{
  font-weight: normal;
  letter-spacing: inherit;
  padding: .5rem .9rem;
  border: solid 1px rgba(48, 150, 136, .65);
  border-radius: .18rem;
  background: rgba(255, 255, 255, 1);
  color: #309688;
}

button:hover{
  cursor: pointer;
}

button[disabled] {
  background: #abb!important;
  cursor: not-allowed!important;
}

button.button-light[disabled]{
  background: #eee;
  color: #999;
  border-color: #aaa;
}

.card,.hover-card:hover{
  box-shadow: -1px 4px 17px -6px rgba(0,0,0,1);
}

.card-half{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}

body{
  background-color: #faf7fe;
}

.modal-container {
  padding: 5px;
  position: fixed;
  top : 0;
  left : 0;
  width : 100%;
  height: 100%;
  z-index: 10;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: -1px 4px 17px -6px rgba(0,0,0,1);
}

.center {
  text-align: center;
}

/* Forms */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*input[type=text],input[type=password],input[type=number],textarea,select{
  box-shadow: inset 1px 1px 3px -1px rgba(0,0,0,0.2);
  background: #fff;
  border: 1px solid rgba(158, 158, 158, 0.6);
  border-radius: .18rem;
  padding: .4rem 1rem;
  width: 100%;
  color: #666;
}*/

input[type=text],input[type=password],input[type=number],textarea,select{
  background: #e0f0e0;
  border: none;
  border-bottom: 2px solid #8b8;
  padding: .4rem 1rem;
  width: 100%;
  color: #444;
}

input:disabled,textarea:disabled,select:disabled{
  background: #eee;
  color: #999;
}

select option:disabled {
  color: #309688;
}

.border {
  border: 1px solid rgba(158, 158, 158, 0.8);
}

.form-group label {
  display: block;
}

label {
  color: #666;
  font-size: .9rem;
  font-weight: bold;
}

.form-group {
  width: 100%;
  margin-bottom: 1.1rem;
}

/*input:required,select:required{
  border-left: .18rem solid #309688;
}*/

@media (min-width: 800px) {
  .form-section{
    width: 49.9%;
  }
}

/* Colors */
.estil,.hover-estil:hover{color:#a66aaa!important;background-color:#fff!important}
.red,.hover-red:hover{color:#fff!important;background-color:#f44336!important}
.teal,.hover-teal:hover{color:#fff!important;background-color:#009688!important}
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.text-teal{color:#009688!important}
.text-estil{color:#a66aaa!important}
.border-white,.hover-border-white:hover{border-color:#fff!important}
.border-black,.hover-border-black:hover{border-color:#000!important}
.border-grey,.hover-border-grey:hover,.border-gray,.hover-border-gray:hover{border-color:#bbb!important}