@charset "UTF-8";

@font-face {
  font-family: "estil-icons";
  src:url("fonts/estil-icons.eot");
  src:url("fonts/estil-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/estil-icons.woff") format("woff"),
    url("fonts/estil-icons.ttf") format("truetype"),
    url("fonts/estil-icons.svg#estil-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "estil-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"]{
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  vertical-align: middle;
  font-family: "estil-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoe:before {
  content: "\61";
}
.icon-cloud-upload:before {
  content: "\62";
}
.icon-cog:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-google:before {
  content: "\65";
}
.icon-pinterest:before {
  content: "\67";
}
.icon-share:before {
  content: "\68";
}
.icon-smile:before {
  content: "\69";
}
.icon-user-plus:before {
  content: "\6b";
}
.icon-user:before {
  content: "\6c";
}
.icon-twitter:before {
  content: "\6a";
}
.icon-close:before {
  content: "\6d";
}
.icon-close-circle:before {
  content: "\6e";
}
.icon-plus:before {
  content: "\6f";
}
.icon-android:before {
  content: "\70";
}
.icon-camera:before {
  content: "\72";
}
.icon-youtube:before {
  content: "\73";
}
.icon-credit-card:before {
  content: "\71";
}
.icon-truck:before {
  content: "\74";
}
.icon-line-chart:before {
  content: "\75";
}
.icon-search:before {
  content: "\76";
}
.icon-check:before {
  content: "\77";
}
.icon-envelope:before {
  content: "\78";
}
.icon-pencil:before {
  content: "\79";
}
.icon-pencil-square-o:before {
  content: "\7a";
}
.icon-thumbs-up:before {
  content: "\41";
}
.icon-instagram:before {
  content: "\42";
}
.icon-angle-down:before {
  content: "\43";
}
.icon-angle-left:before {
  content: "\44";
}
.icon-angle-right:before {
  content: "\45";
}
.icon-angle-up:before {
  content: "\46";
}
.icon-archive:before {
  content: "\47";
}
.icon-shopping-cart:before {
  content: "\48";
}
.icon-female:before {
  content: "\49";
}
.icon-list-ol:before {
  content: "\4a";
}
.icon-list-ul:before {
  content: "\66";
}
.icon-calculator:before {
  content: "\4b";
}
.icon-save:before {
  content: "\4c";
}
.icon-reply:before {
  content: "\4d";
}
.icon-arrow-left:before {
  content: "\4e";
}
.icon-arrow-right:before {
  content: "\4f";
}
.icon-bar-chart:before {
  content: "\50";
}
.icon-reply-1:before {
  content: "\51";
}
.icon-share-1:before {
  content: "\52";
}
.icon-trash:before {
  content: "\53";
}
.icon-floppy:before {
  content: "\54";
}
.icon-download:before {
  content: "\55";
}
.icon-lock:before {
  content: "\56";
}
.icon-shop:before {
  content: "\57";
}
.icon-floppy-o:before {
  content: "\58";
}
.icon-eye:before {
  content: "\59";
}
.icon-frown-o:before {
  content: "\5a";
}
.icon-meh-o:before {
  content: "\30";
}
.icon-store:before {
  content: "\31";
}
.icon-shop-store-frontal-building:before {
  content: "\32";
}
.icon-front-store:before {
  content: "\33";
}
.icon-save-file:before {
  content: "\34";
}
