<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <title>Administrador de Tareas</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="global-style.css"/>
      <link rel="stylesheet" href="iconos.css"/>
      <link rel="stylesheet" type="text/css" href="core-style.css"/>
      <link rel="stylesheet" type="text/css" href="spaces/tasks-pending/tasks-pending.css"/>
      <link rel="stylesheet" type="text/css" href="spaces/tasks-completed/tasks-completed.css"/>
      <link rel="stylesheet" type="text/css" href="spaces/task-detail/task-detail.css"/>
      <link rel="stylesheet" type="text/css" href="spaces/edit-task/edit-task.css"/>
      <link rel="stylesheet" type="text/css" href="sign-in/sign-in.css"/>
  </head>
  <body>
    <template id="app:menu:template">
      <div class="menu-head">
        <img class="menu-head-img" src="assets/to-do-list.jpg"/>
        <i id="menu:left-button" class="menu-head-left-button icon-angle-left hide-big"></i>
      </div>
      {{#Menu}}<a id="menu:element:{{id}}">{{tag}}</a>{{/Menu}}
      <a id="menu:sign-out-button" class="sign-out-button">Cerrar Sesión</a>
    </template>

    <div id="top-nav" class="card-half hide-big">
      <i id="top-nav:show-menu" class="menu-button icon-list-ul"></i>
      Administrador de Tareas
    </div>

    <div id="spaces-menu" class="card-half">
    </div>

    <main id="space-container">
    </main>

    <script src="mustache.min.js"></script>
    <script src="tools.js"></script>
    <script src="authentication.js"></script>
    <script src="database.js"></script>
    
    <script src="sign-in/sign-in.js"></script>
    <script src="spaces/tasks-pending/tasks-pending.js"></script>
    <script src="spaces/tasks-completed/tasks-completed.js"></script>
    <script src="spaces/edit-task/edit-task.js"></script>
    <script src="spaces/task-detail/task-detail.js"></script>
    
    <script>
      App = {
        Menu : [
          { id : "tasks-pending", tag : "Tareas Pendientes" },
          { id : "tasks-completed", tag : "Tareas Terminadas" }
        ],
        Routing : [
          { id : "tasks-pending", manager : TasksPending },
          { id : "tasks-completed", manager : TasksCompleted },
          { id : "edit-task", manager : EditTask },
          { id : "task-detail", manager : TaskDetail }
        ]
      };
    </script>
    <script src="core.js"></script>
  </body>
</html>