<div class="space-intern-container">
  <h3 id="edit-task:title">Nueva Tarea:</h3>
  
  <form id="edit-task:form">
  <fieldset id="edit-task:form:fieldset">
    <div class="form-section">
        <div class="form-group">
          <label for="edit-task:form:name">Nombre:</label>
          <input name="name" id="edit-task:form:name" type="text" required placeholder="Nombre de tu tarea...">
        </div>
        <div class="form-group">
          <label for="edit-task:form:date">Fecha Límite:</label>
          <input name="date" id="edit-task:form:date" type="text" required placeholder="dd/mm/aaaa">
        </div>
        <div class="form-group">
          <label for="edit-task:form:description">Descripción:</label>
          <textarea name="description" id="edit-task:form:description" required placeholder="Describe tu tarea..."></textarea>
        </div>
    </div><!--
  --><div class="form-section">
      <div class="form-group">
        <label>Responsables:</label>
        <div class="assigned-container" id="edit-task:form:assigned-container"> </div>
      </div>
    </div>
    <div class="center">
        <button id="edit-task:form:submit" type="submit" class="icon-floppy"> Guardar</button>
    </div>
  </fieldset>
  </form>
</div>