.edit-task{
  background: #fefefe;
  min-height: 100vh;
  text-align: center;
}

.edit-task .assigned-container input{
  margin-bottom: 2rem;
}

.edit-task .assigned-container input:last-child{
  margin-bottom: 0;
}

/*.edit-task form{
  background: #fff;
  padding: 1rem .5rem 1rem .5rem;
  border-radius: .18rem;
}*/

.edit-task form textarea{
  height: 5.9rem;
  resize: none;
}