<div class="space-intern-container">
  <template id="tasks-completed:task-template">
    <div id="tasks-completed:task:{{id}}:name" class="name">{{name}}</div> 
  </template>
    
    <h2 class="title">Tareas Terminadas</h2>
    
    <form class="tasks-find-form" id="tasks-completed:find-form">
    <fieldset id="tasks-completed:find-form:fieldset">
      <input  type="text" name="key" placeholder="Busca Aquí...">
      <button type="submit"><i class="icon-search"></i></button>
    </fieldset>
    </form>
  
    <div id="tasks-completed:tasks-container" class="tasks-container"></div>
    <div class="center">
      <div id="tasks-pending:more-button" class="tasks-pending-more-button">
        <i class="icon-plus"></i>
      </div>
    </div>
</div>