.tasks-completed{
  background: #fefefe;
  min-height: 100vh;
  text-align: center;
}

.tasks-completed .tasks-container .task{
  background: rgb(230, 228, 205);
  padding: .1rem .4rem .5rem 1rem;
}

.tasks-completed .title {
  color: #a84810;
}