.sign-in-content {
  max-width: 16rem;
}

.sign-in-content form{
  padding: 1rem .5rem .5rem .5rem;
  text-align: center;
  background: #fff;
}

.sign-in-content .form-group{
  text-align: left;
}

.sign-in-content .img-top {
  width: 9rem;
  height: 9rem;
}

.sign-in-content .decor-top {
  text-align: center;
  background: #6d6d6d;
  padding: 1rem 0 0 0;
}

.sign-in-content .decor-bottom {
  background: #fff;
  text-align: center;
  color: orange;
  padding-bottom: .5rem;
}