<div class="modal-content sign-in-content round" id="sign-in:modal-content">
  <div class="decor-top">
    <img class="img-top" src="assets/to-do-list.jpg">
  </div>
  <form id="sign-in:form">
  <fieldset id="sign-in:form:fieldset">
    <div class="form-group">
      <label for="sign-in:form:user">Usuario:</label>
      <input name="user" type="text" id="sign-in:form:user" required>
    </div>
    <div class="form-group">
      <label for="sign-in:form:password">Contraseña:</label>
      <input name="password" type="password" id="sign-in:form:password" required>
    </div>
    <button id="sign-in:form:submit" type="submit">Iniciar Sesión</button>
  </fieldset>
  </form>
  <div class="decor-bottom"> 
    * demouser demopass
  </div>
</div>
