.task-detail{
  background: #fefefe;
  min-height: 100vh;
  text-align: center;
}

.task-detail-assigned{
  padding: 0;
}

.task-detail-name{
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

.task-detail-description{
  font-size: 1.5rem;
  text-align: center;
}

.task-detail-assigned li{
  text-align: center;
  display: block;
  border-radius: .18rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
}

.task-detail-info-container{
  padding: .5rem
}

.task-detail-completed{
  background: rgb(230, 228, 205)!important;
}

.task-detail-pending{
  background: rgb(208, 230, 205)!important;
}