<div class="space-intern-container">
  <template id="task-detail:template">
    <button id="task-detail:edit-task-button" type="button" class="icon-pencil {{#completed}}hide{{/completed}}"> Editar Tarea</button>
    <h3>Tarea:</h3>
    <div class="task-detail-info-container {{#completed}}task-detail-completed{{/completed}}{{^completed}}task-detail-pending{{/completed}}">
      <h4 class="task-detail-name">{{name}}</h4>
      <p class="task-detail-description">{{description}}</p>
    </div>
    <h3>Responsables:</h3>
    <ul class="task-detail-assigned">
      {{#assigned}}
      <li class="{{#completed}}task-detail-completed{{/completed}}{{^completed}}task-detail-pending{{/completed}}">{{.}}</li>
      {{/assigned}}
    </ul>
  </template>
  
  <div id="task-detail:container">
  
  </div>
</div>